bertopic==0.17.3
gensim==4.3.3
hdbscan==0.8.40
kaggle==1.7.4.5
matplotlib==3.10.0
nltk==3.9.1
numpy==1.26.4
pandas==2.2.2
PyMuPDF==1.26.5
pyLDAvis==3.4.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn
sentence-transformers==2.2.2
streamlit
tqdm==4.67.1
transformers==4.57.0
umap-learn==0.5.9.post2
